body{
    height: 100%;
}

#infoBar{
    height: 15vh;
    background-color:gray;
    
}

#infoBar > div {
    margin: 5px;
    border: solid black 3px;
    z-index:9;
}

#inputBar{
    padding-top: 40px;
    background-color: lightgrey;
}

#game 
{
    height:85vh;
    overflow: hidden;
}

#buttonContainer{
	background-color: midnightblue;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#inputContainer{
    background-color: lightgrey;
    font-size: large;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
}


#titleText{
    position: absolute;
    font-family: 'Raleway', sans-serif;
}


.hidden{
    display:none;
}

.jumbotron{
    background-color:#e9ecef8c !important;
}
.title-text{
    font-family: 'Raleway', sans-serif;
    font-size:3.5rem;
}
.smaller-title-text{
    font-family: 'Muli';
    font-size:2.5rem;
    position: center;
}
.start-page{
    margin-bottom: 6.63129973474801vh;
    margin-top: 46.41909814323608vh;
    font-family: 'Muli';
}
.back-button{
    font-family: 'Muli';
    padding: 15px 0;
    position: absolute;
}
.submit-button{
    font-family: 'Muli';
    width: 50%;
    position: absolute;
    bottom: 0;
}
.start-exam{
    font-size: large;
}
#start-page{
    background-repeat:round;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    height:auto !important;
    height: 100%; 
    font-family: 'Muli';
    padding: 15px 0;
    position: absolute;
}

.removed {
    filter: grayscale();
}

.myButton {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Muli';
	font-size:17px;
    padding:7px 25px;
    margin-bottom: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.submitButton {
	box-shadow: 3px 4px 0px 0px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:15px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Muli';
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
	.submitButton:hover {
	background-color:#72b352;
}
 .submitButton:active {
	position:relative;
	top:1px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 30em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://wallpaperplay.com/walls/full/a/0/f/177173.jpg) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}
