body{
    height: 100%;
}

#infoBar{
    height: 15vh;
    background-color: rgb(150, 97, 0);
    
}

#infoBar > div {
    margin: 5px;
    border: solid black 3px;
    z-index:9;
}

#game 
{
    height:85vh;
    overflow: hidden;
}

#scoreContainer{
background-color: lightblue;
}


.hidden{
    display:none;
}

.jumbotron{
    background-color:#e9ecef8c !important;
}
.title-text{
    font-family: 'Luckiest Guy', sans-serif;
    font-size:3.5rem;
}
.start-page{
    margin-bottom: 6.63129973474801vh;
    margin-top: 46.41909814323608vh;
    font-family: 'Luckiest Guy', sans-serif;
}
.back-button{
    font-family: 'Luckiest Guy', sans-serif;
    padding: 15px 0;
    position: absolute;
}
.custom-button{
    font-family: 'Luckiest Guy', sans-serif;
    padding: 15px 130px;
    position: absolute;
}

#start-page{
    background-image: url('images/UDMemHall.jpg');
    background-repeat:round;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    height:auto !important;
    height: 100%; 
    font-family: 'Luckiest Guy', sans-serif;
    padding: 15px 0;
    position: absolute;
}

.removed {
    filter: grayscale();
}
